@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

#sidebar {
      background-color: white;
      width: 260px;
}
#sidebar .title {
      font-family: 'Great Vibes', cursive;
      font-size: 30px;
      text-align: center;
      padding: 10px;
}


#sidebar .title a {
      color: {color:Primary Colour};
      
#sidebar .image {
      width: 260px;
      height: auto;
}      


